html::before {
  content: "";
  background: var(--background-url) no-repeat;
  background-color: #888;
  background-position: 0 0, 100px 100px;
  background-repeat: repeat;
  background-size: 150px 150px;
  position: fixed;
  z-index: 1;
  filter: grayscale(100%);
  opacity: var(--background-opacity);
  height: 1000%;
  width: 1000%;
  top: -50%;
  left: -50%;
  pointer-events: none;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  z-index: 1;
  position: relative;
  top: 0;
}

body {
  position: relative;
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
}

*::selection {
  background-color: #fa8c05;
}

#container {
	margin:0 auto;
	display: block;
	clear: both;
  text-align: center;
}

#popover {
  position: absolute;
  top: -20px;
  left: 150px;
  display: flex;
  align-items: center;
}

#popover img {
  rotate: 180deg;
  height: 120px;
}

#popover p {
  font-size: .8em;
}

.search {
  margin: 3rem 1rem;
  display: flex;
  justify-content: center;
}

.location {
  display: flex;
  margin: 0 0px 20px 0px;
  gap: 10px;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;
  flex-shrink: 1;
  flex-basis: fit-content;
  flex-wrap: wrap;
}

.location input[type="text"] {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  flex-grow: 1;
  width: 20rem;
}

.location label {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 0;
  flex-direction: row;
  flex-wrap: wrap;
}

.location p {
  width: 100%;
}

.btn-grad {
  background-color: #1a1a1a;
  padding: 0.6em 1.2em;
  text-align: center;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0px 1px 2px #ccc;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: border-color 0.25s;
  font-family: inherit;
  font-size: 1em;
  font-weight: 600;
}

.btn-grad:hover {
  background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.findme button {
  font-size: 1.2em;
}

.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid darkgray;
  border-radius: .5rem;
  background-color: #ffffb1;
}

.alert p {
  margin: 0;
}

/* text styles */
h1 {
  font-family: 'Bebas Neue', 'Open Sans', sans-serif;
  font-size: 8em;
  margin: 1em auto .5em;
  line-height: 1.1;
  text-shadow: 0px 1px 2px #ccc;
}

h2 {
  font-family: 'Bebas Neue', 'Open Sans', sans-serif;
	font-size: 5em;
  text-shadow: 0px 1px 2px #ccc;
}

@keyframes flash {
  0% {opacity: 1;}
  50% {opacity: 0.1;}
  100% {opacity: 1;}
}

h2.loading {
  animation: flash 1.5s linear infinite;
}

#explainer .explainer-text {
  text-decoration: none;
}

#explainer .explainer-text:after {
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid grey;
  display: inline-block;
  margin: 0 0px 2px 5px;
  transition: transform 0.3s ease;
}

#explainer .explainer-text.show:after {
  transform: rotate(180deg);
}

/* data table */
.table {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.table.show {
  max-height: 450px;
  opacity: 1;
}

.table td, .table th {
  border-top: none;
}

.table th {
  font-weight: 600;
  text-align: left;
}

.newTab {
  margin: 0px 0 4px 4px;
  width: 14px;
  height: 14px;
}

/* switch */
.toggle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.toggle .label {
  font-size: .8rem;
}

.react-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.react-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 25px;
  height: 15px;
  background: grey;
  border-radius: 100px;
  position: relative;
  transition: background-color .2s;
  margin: 0 5px;
}

.react-switch-label .react-switch-button {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.react-switch-label:active .react-switch-button {
  width: 30px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #fa8c05;
  }
  button {
    background-color: #f9f9f9;
  }
}